@import "../assets/styles/global";
main {
  @include navigation;
  @include main(280px);
  @include figure-date;
  & > a {
    @include button($color-2, $color-5, $color-3, $color-1);
    display: block;
    width: fit-content;
    margin: 60px auto 0 auto;
  }
  & > div:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 60px;
    article {
      display: grid;
      grid-template-rows: 0.4fr 1fr;
      h2 {
        @include header($font-size: var(--font-26), $font-weight: 600, $text-transform: none);
        margin-top: 30px;
        place-self: center start;
      }
      p {
        margin-top: 10px;
        place-self: start;
      }
    }
  }
  & > div:last-of-type {
    @include gallery;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    row-gap: 13px;
  }
  h1 {
    @include header($font-size: var(--font-35), $letter-spacing: 0.2em);
    user-select: none;
    text-align: center;
    margin-bottom: 40px;
  }
  p {
    @include p;
  }
  div ~ p {
    margin-top: 50px;
  }
}
@include show-image;
@media screen and (max-width: 1280px) {
  main > div:last-of-type {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
  }
}
@media screen and (max-width: 720px) {
  main > div:last-of-type {
    display: flex;
    flex-direction: column;
    div {
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
