@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
nav {
  width: 100%;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0.6fr 0.7fr 0.4fr;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 15px 7%;
  background-color: #000;
}
nav img {
  transition: 500ms transform cubic-bezier(0.53, 0.1, 0.58, 1);
  place-self: center start;
}
nav img:hover {
  transform: scale(0.96);
}
nav *:not(input, label) {
  cursor: pointer;
  user-select: none;
}
nav a {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav label, nav ul, nav ul a, nav .hamburger {
  display: flex;
  align-items: center;
}
nav label:not(ul), nav ul:not(ul), nav ul a:not(ul), nav .hamburger:not(ul) {
  justify-content: center;
}
nav label {
  grid-column: 4/span 1;
  color: #fff;
}
nav label input::placeholder {
  color: inherit;
  text-transform: lowercase;
}
nav ul {
  place-self: center end;
  width: 60%;
  justify-content: space-evenly;
  list-style: none;
}
nav svg {
  width: 30%;
  min-width: 20px;
  height: auto;
  min-height: 20px;
  transition: 300ms color cubic-bezier(0.53, 0.1, 0.58, 1);
  color: #fff;
}
nav svg:hover {
  color: #e31019;
}
nav .hamburger {
  row-gap: 5px;
  flex-direction: column;
  width: 28px;
  height: 20px;
  grid-column: 6/span 1;
}
nav .hamburger:hover span {
  background-color: #e31019;
}
nav .hamburger.active span:first-of-type {
  transform: rotate(45deg) translate(5px, 5px);
}
nav .hamburger.active span:nth-of-type(2) {
  opacity: 0;
}
nav .hamburger.active span:last-of-type {
  transform: rotate(-45deg) translate(5px, -5px);
}
nav .hamburger span {
  transition: 300ms background-color cubic-bezier(0.53, 0.1, 0.58, 1), 300ms transform cubic-bezier(0.53, 0.1, 0.58, 1), 300ms opacity cubic-bezier(0.53, 0.1, 0.58, 1);
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

footer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 0.5fr 1fr 0.05fr 0.5fr 0.05fr 0.1fr;
  position: relative;
  background-image: url("/assets/pictures/noze.webp");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 70px 140px 15px 140px;
}
footer * {
  z-index: 1;
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
footer > img {
  grid-column: 1/span 2;
}
footer h3 {
  font-weight: 600;
}
footer p {
  font-size: 13px;
  line-height: 26px;
}
footer p:first-of-type {
  grid-column: 1/-1;
  place-self: center start;
}
footer p:nth-of-type(2) {
  grid-column: 1/span 2;
  grid-row: 7/span 1;
}
footer p:last-of-type {
  place-self: center end;
  grid-column: 10/span 2;
  grid-row: 7/span 1;
}
footer ul {
  list-style: none;
}
footer ul li {
  font-size: 15px;
}
footer ul li a {
  transition: 200ms color cubic-bezier(0.53, 0.1, 0.58, 1);
}
footer ul li a:hover {
  color: #e31019;
}
footer ul:first-of-type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 36px);
  grid-column: 4/span 3;
}
footer ul:nth-of-type(2) {
  place-self: start center;
  grid-column: 7/span 2;
}
footer ul:nth-of-type(2) li {
  margin: 18px 0;
}
footer ul:nth-of-type(2) li:first-of-type {
  margin-top: 0;
}
footer ul:nth-of-type(2) li:last-of-type {
  margin-bottom: 0;
}
footer h3 {
  font-size: 22px;
}
footer h3:first-of-type {
  grid-column: 4/span 1;
}
footer h3:nth-of-type(2) {
  place-self: start center;
  grid-column: 7/span 2;
}
footer h3:last-of-type {
  grid-column: 10/span 2;
}
footer figure {
  grid-column: 10/span 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 45px;
  row-gap: 25px;
}
footer hr {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  grid-column: 1/-1;
}
footer hr:first-of-type {
  grid-row: 3/span 1;
}
footer hr:last-of-type {
  grid-row: 5/span 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  will-change: transition;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
}
body.no-scroll {
  overflow: hidden;
}
body > ul {
  transition: 200ms transform cubic-bezier(0.53, 0.1, 0.58, 1);
  position: fixed;
  top: calc(30px + 2.5rem);
  height: 100%;
  width: 400px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  right: 0;
  z-index: 2;
  background-color: #000;
  list-style: none;
  transform: translateX(100%);
}
body > ul.done {
  transform: none;
}
body > ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
body > ul li.active a {
  color: #e31019;
  font-weight: 700;
}
body > ul li:not(.active):hover a {
  color: #e31019;
}
body > ul li a {
  display: block;
  padding: 13px 15px;
  transition: 200ms color cubic-bezier(0.53, 0.1, 0.58, 1);
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}
button:not(input), input:not(input), select:not(input), textarea:not(input) {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

main {
  margin: 110px 280px 70px 280px;
}
main > div:first-of-type {
  transform: translateX(-70px);
  color: #858585;
  font-size: 12px;
  font-weight: 400;
}
main > div:first-of-type a:hover {
  text-decoration: underline;
}
main > div:first-of-type span:first-of-type {
  margin: 0 10px;
}
main > div:first-of-type span:last-of-type {
  color: #000;
}
main figure {
  position: relative;
}
main figure div {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 12px 35px;
  text-transform: lowercase;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  font-size: 14px;
  background-color: #000;
  color: #fff;
}
main > a {
  display: block;
  width: fit-content;
  margin: 60px auto 0 auto;
  padding: 12px 35px;
  text-transform: lowercase;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  font-size: 14px;
  background-color: #eaeaea;
  transition: 200ms background-color cubic-bezier(0.53, 0.1, 0.58, 1), 200ms color cubic-bezier(0.53, 0.1, 0.58, 1);
}
main > a:hover {
  color: #fff;
  background-color: #e31019;
}
main > div:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 60px;
}
main > div:nth-of-type(2) article {
  display: grid;
  grid-template-rows: 0.4fr 1fr;
}
main > div:nth-of-type(2) article h2 {
  margin-top: 30px;
  place-self: center start;
  font-weight: 600;
  font-size: 26px;
}
main > div:nth-of-type(2) article p {
  margin-top: 10px;
  place-self: start;
}
main > div:last-of-type {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  row-gap: 13px;
}
main > div:last-of-type div {
  cursor: pointer;
  position: relative;
  width: 400px;
  height: 400px;
}
main > div:last-of-type div::before {
  transition: 500ms opacity cubic-bezier(0.53, 0.1, 0.58, 1);
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}
main > div:last-of-type div:hover::before {
  opacity: 1;
  background-image: url("/assets/svgs/japanese.svg");
  background-size: 35% 35%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
main h1 {
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 0.2em;
  margin-bottom: 40px;
}
main p {
  font-size: 15px;
  line-height: 30px;
}
main div ~ p {
  margin-top: 50px;
}

.show-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-image > div {
  transition: 500ms transform cubic-bezier(0.53, 0.1, 0.58, 1);
  position: relative;
  background-color: #fff;
  width: 35%;
  height: 75%;
  border-radius: 25px;
  box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.4);
  transform: translateY(200%);
}
.show-image > div.done {
  transform: none;
}
.show-image img {
  border-radius: 25px 25px 0 0;
  user-select: none;
  pointer-events: none;
  width: 100%;
  height: auto;
}
.show-image p {
  text-align: center;
}
.show-image svg {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: #eaeaea;
  transition: 300ms color cubic-bezier(0.53, 0.1, 0.58, 1);
}
.show-image svg:hover {
  color: #e31019;
}

/*# sourceMappingURL=style.css.map */
