:root {
  --crust: #232634;
  --mantle: #292c3c;
  --base: #303446;
  --surface-0: #414559;
  --surface-1: #51576d;
  --surface-2: #626880;
  --overlay-0: #737994;
  --overlay-1: #838ba7;
  --overlay-2: #949cbb;
  --subtext-0: #a5adce;
  --subtext-1: #b5bfe2;
  --text: #c6d0f5;
  --lavender: #babbf1;
  --blue: #8caaee;
  --saphire: #85c1dc;
  --sky: #99d1db;
  --teal: #81c8be;
  --green: #a6d189;
  --yellow: #e5c890;
  --peach: #ef9f76;
  --maroon: #ea999c;
  --red: #e78284;
  --mauve: #ca9ee6;
  --pink: #f4b8e4;
  --flamingo: #eebebe;
  --rosewater: #f2d5cf;
  --font-14: 14px;
  --font-16: 16px;
  --font-18: 18px;
  --font-20: 20px;
  --font-24: 24px;
  --font-32: 32px;
  --font-40: 40px;
  --font-92: 92px;
}

$quad-cubic-bezier: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$short: 0.2s;
$medium: 0.3s;
$long: 0.5s;
$xlong: 0.75s;
$golden-ratio: 1.618;
$sans-serif: ui-sans-serif, sans-serif;
$neue-regarde: 'Neue Regarde', $sans-serif;
$neue-regarde-italic: 'Neue Regarde Italic', $sans-serif;
$general-sans: 'General Sans', $sans-serif;
$inter: 'Inter', $sans-serif;
$jetbrains-mono: 'JetBrains Mono', ui-monospace, monospace;
$border-10: 10px;
$border-20: 20px;
$border-30: 30px;

@font-face {
  font-family: 'Neue Regarde';
  src: url("assets/fonts/Neue-Regrade-Variable.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Regarde Italic';
  src: url("assets/fonts/Neue-Regrade-Variable.ttf") format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url("assets/fonts/GeneralSans-Variable.woff2") format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@function transition($property, $duration: $short, $timing: $quad-cubic-bezier) {
  @return #{$property} #{$duration} #{$timing};
}

@mixin background-text {
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: changeColor 5s infinite alternate;
}

@mixin flex($direction: row, $justify: start, $align: start, $gap: 0) {
  display: flex;
  @if $direction != row {
    flex-direction: $direction;
  }
  @if $justify != start {
    justify-content: $justify;
  }
  @if $align != start {
    align-items: $align;
  }
  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin absolute($top: 0, $left: 0) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin font($size: inherit, $weight: inherit, $color: inherit) {
  font-size: $size;
  @if $weight != inherit {
    font-weight: $weight;
  }
  @if $color != inherit {
    color: $color;
  }
}

@mixin color-hover($color: inherit, $h-color) {
  color: $color;
  &:hover {
    color: $h-color;
  }
}
