/* dla niektórych elementów */
.flex {
    display: flex;
}


body {
    background-color: #E9E9E9;
    font-family: 'Lato', sans-serif;
    margin: 0;
}
b {
    color: #002D31;
}
i {
    font-style: normal;
    font-weight: 300;
}


/* nav */
nav {
    height: 72px;
    background-color: #3E5C5F;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    justify-content: space-between;
}
nav > div {
    align-items: center;
}
.logo {
    height: 50px;
    margin-right: 20px;
}
nav > div > span {
    width: 50px;
    margin-left: 10px;
    align-items: center;
    height: 50px;
}


/* menu */
.menu {
    margin: 0 50px 0 10%;
    width: 0;
    transition: width 0.3s ease;
}
.menu > img {
     display: none;
 }
#bar {
    cursor: pointer;
}
.menu li {
    width: 0;
    height: 0;
    transition: height, width 0.3s ease;
    overflow: hidden;
}
.menu li:hover {
      background-color: #B9B9B9;
}
.menu a > img {
       width: 20px;
       height: 20px;
       margin-right: 10px;
   }
.menu a {
    text-decoration: none;
    color: #112130;
    width: 100%;
}
.menu.active {
    background-color: #E9E9E9;
    width: 300px;
    height: fit-content;
    margin: 0 0 -47% -50px;
    padding: 10px 0 5px;
    border-radius: 10px;
    border: #B9B9B9 1px solid;
    border-top: none;
}
.menu.active > img {
    display: block;
    margin: 5px 0 0 5px;
    cursor: pointer;
}
.menu.active li {
    list-style: none;
    width: 290px;
    height: fit-content;
    margin: 10px 0 10px -40px;
    display: flex;
    align-items: center;
    padding: 5px 0 5px 10px;
    border-left-width: 0;
    transition: background-color 0.3s ease;
}
.menu.active li > a {
    display: flex;
    align-items: center;
}
.menu.active ul {
    width: 300px;
    height: fit-content;
}
.mini-menu {
    display: none;
}

/* search bar */
.search-bar {
    width: 30%;
    height: 37px;
    background-color: #D9D9D9;
    border: #125358 2px solid;
    border-radius: 10px;
}
.search-bar img {
    height: 35px;
    margin: 0 0 0 3px;
}
.search-bar button {
    justify-content: center;
    display: flex;
    background-color: #D9D9D9;
    width: 40px;
    height: 37px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    transition: background-color 0.3s ease;
}
.search-bar button:hover {
    background-color: #B9B9B9;
}
.search-bar label {
    align-items: center;
    width: 100%;
}
.search-bar input {
    height: fit-content;
    border: none;
    background-color: #D9D9D9;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #112130;
    outline: none;
    width: 100%;
    padding-left: 5px;
    transition: color 0.3s ease;
}
.search-bar input:placeholder-shown:not(:focus) {
    color: rgba(17, 33, 48, 0.5);
}


/* ikonki */
.icons img{
    align-self: center;
    height: 35px;
    width: 35px;
    filter: invert(1);
}
.icons {
    min-width: 60px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #FAFAFA;
}
.icons p {
    margin: 1px 0;
    text-align: center;
}

/* main */
main {
    margin-top: 72px;
}
main > div {
    margin: 0 auto;
    width: 90%;
}


/* baner */
.baner {
    width: 95%;
    height: 350px;
    margin: 0 auto;
    border-radius: 50px;
    background-image: url('obrazy/baner.jpg');
    /* źródło - https://pixabay.com/pl/photos/code-programming-javascript-5113374/ */
}
.baner h1 {
    font-weight: 500;
    color: #FAFAFA;
    font-size: 48px;
    align-self: center;
    margin: 0 auto;
    padding: 15px 50px;
    background-color: rgba(233, 233, 233, 0.2);
    border-radius: 30px;
}


/* nagłówki */
.naglowki {
    width: 95%;
    margin: 50px auto 0 auto;
    overflow-x: scroll;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.naglowki article {
    background-color: #D9D9D9;
    border-radius: 30px;
    flex-shrink: 0;
    margin: 0 10px;
    width: 400px;
    height: 350px;
    border: #125358 2px solid;
    overflow: auto;
}
.naglowki p {
    margin: 3px 20px 10px 20px;
    color: #112130;
}
.naglowki a {
    text-decoration: none;
    color: #125358;
    font-weight: 700;
}
.naglowki a:hover {
    color: #002D31;
}
.naglowki div > p {
    margin: inherit;
}
.naglowki img {
    width: 100px;
    height: 100px;
    margin: 0 5px 3px 10px;
    border-radius: 15px;
}
.naglowki h2 {
    font-size: 2em;
    color: #125358;
    text-align: center;
    margin: 20px 0 15px 0;
}



/* oferty */
.promocje {
    width: 95%;
    margin: 50px auto;
}
.oferty {
    max-width: 958px;
    background-color: #D9D9D9;
    border-radius: 30px;
    padding: 10px;
    border: #125358 2px solid;
}
.oferty h3 {
    text-align: center;
    color: #125358;
    font-size: 3em;
    margin: 10px 0 0 0;
}
.oferty article {
    background-color: #E9E9E9;
    border-radius: 30px;
    width: 275px;
    height: 250px;
    border: #125358 2px solid;
    margin: 10px 20px;
}
.oferty div {
    flex-flow: wrap;
    width: 100%;
    margin-top: 20px;
}
.oferty img {
    width: 80%;
    display: block;
    height: 150px;
    margin: 5px auto 0 auto;
    border-radius: 30px;
}
.oferty h4 {
    text-align: center;
    color: #125358;
    font-size: 1.3em;
    margin: 10px 0;
}
.oferty p {
    text-align: center;
    color: #112130;
    font-size: 1.1em;
    margin: 10px 0 0 0;
}


/* bon */
.bon {
    background-image: url("obrazy/bon.jpg");
    width: 600px;
    height: 500px;
    margin-left: 20px;
    border-radius: 50px;
    /* źródło - https://negativespace.co/windows-laptop-closeup-reflection/ */
}
.bon h3 {
    align-self: center;
    font-size: 2em;
    color: #FAFAFA;
    text-align: center;
    margin: 0 auto;
    padding: 15px 50px;
    background-color: rgba(233, 233, 233, 0.2);
    border-radius: 30px;
}


/* footer */
footer {
    justify-content: space-around;
    position: relative;
    bottom: -35px;
    margin-top: 3%;
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 10px 10px 0 0;
}
footer h4 {
    color: #125358;
    font-size: 1.5em;
    margin: 10px 0;
}
footer ul {
    list-style-type: none;
}
footer li {
    margin-left: -40px;
    line-height: 2em;
}
footer a {
    text-decoration: none;
    color: #112130;
}
footer a:hover {
    text-decoration: underline;
}
footer div {
    margin-top: -10px;
    justify-content: space-between;
}
footer p {
    display: inline;
}
footer p {
    margin-top: 10px;
}
div > a > img {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

.black-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: opacity 0.3s ease;
}

/* media query */
@media (max-width: 1280px) {
    .oferty article {
        width: 200px;
        height: 180px;
    }
    .oferty img {
        width: 70%;
        height: 100px;
    }
    .bon {
        height: 30vw;
    }
    .bon h3 {
        font-size: 2vw;
    }
}
@media (max-width: 800px) {
    nav {
        z-index: 2;
    }
    .menu {
        margin: 0 5px 0 5%;
    }
    .menu.active {
        border-radius: 0 10px 10px 0;
        height: fit-content;
        width: 250px;
        margin: 0 0 -146% -60px;
        z-index: 3;
    }
    .menu.active > img {
        margin-left: 10px;
    }
    .menu.active > ul {
        width: 210px;
    }
    .menu.active li {
        margin: 20px 0 20px -40px;
        font-size: 1.2em;
        width: 240px;
    }
    .menu.active a > img {
        width: 25px;
        height: 25px;
    }
    .mini-menu {
        margin-top: 50px;
        display: block;
    }
    #icons {
        display: none;
    }
    .icons {
        margin: 0 5px 10px 5px;
    }
    .icons img {
        height: 30px;
        width: 30px;
    }
    .icons span {
        display: none;
    }
    .search-bar {
        width: unset;
        margin-right: 25px;
    }
    .baner {
        height: 250px;
        border-radius: 25px;
        margin: 0 auto;
    }
    .baner h1 {
        font-size: 2.2em;
        padding: 10px 40px;
    }
    main > div {
        width: 95%;
    }
    .naglowki article {
        width: fit-content;
        height: 350px;
    }
    .promocje {
        display: block;
        width: 95%;
        margin: 20px auto;
    }
    .oferty div {
        justify-content: space-between;
    }
    .oferty article {
        width: 150px;
        margin: 10px 1px;
    }
    .oferty img {
        width: 85%;
        height: 90px;
    }
    .oferty h3 {
        font-size: 2.5em;
    }
    .oferty h4 {
        font-size: 1.1em;
    }
    .oferty p {
        font-size: 1em;
    }
    .bon {
        width: 100%;
        margin: 20px 0 0 0;
        border-radius: 30px;
        height: 150px;
    }
    .bon h3 {
        font-size: 1.2em;
    }
}
@media (min-width: 2000px) {
    nav {
        height: 108px;
    }
    nav > div > span {
        width: 70px;
    }
    nav span > img {
        height: 40px;
    }
    .logo {
        width: 75px;
        height: 75px;
    }
    .menu.active {
        width: 400px;
        margin: 0 0 -255px -70px;
    }
    .menu.active img {
        height: 40px;
    }
    .menu.active li {
        width: 390px;
    }
    .menu a > img {
        width: 40px;
        height: 40px;
    }
    .menu a {
        font-size: 1.3em;
    }
    .search-bar {
        height: 53px;
    }
    .search-bar img {
        height: 50px;
    }
    .search-bar input {
        font-size: 23px;
    }
    .icons img {
        height: 50px;
        width: 50px;
    }
    .icons span {
        font-size: 1.618em;
    }
    .naglowki article {
        width: 700px;
        height: 500px;
    }
    .naglowki h2 {
        font-size: 3.2em;
    }
    .naglowki p {
        font-size: 1.618em;
    }
    .naglowki img {
        width: 144px;
        height: 144px;
    }
    .oferty {
        max-width: none;
    }
    .oferty article {
        width: 450px;
        height: 360px;
    }
    .oferty img {
        height: 240px;
    }
    .oferty h4 {
        font-size: 2.4em;
    }
    .oferty p {
        font-size: 1.8em;
    }
    .promocje {
        margin: 100px auto;
        width: 90%;
    }
    footer h4 {
        font-size: 2.5em;
    }
    footer a, footer li, footer p {
        font-size: 1.3em;
    }
    footer p {
        font-size: 27px;
    }
    div > a > img {
        width: 40px;
        height: 40px;
    }
}