@import "../assets/styles/global";
@import "../assets/styles/inter.css";

@mixin grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main {
  @include navigation;
  @include main(280px);
  & > hr {
    margin: 60px 0 50px 0;
    border-color: rgba($color-5, 0.2);
  }
  section:first-of-type {
    @include grid;
    margin-top: 15px;
    column-gap: 60px;
    & > div:first-of-type {
      @include grid;
      grid-row: 1 / span 3;
      gap: 12px;
    }
    & > *:not(figure, & > div:first-of-type) {
      grid-column: 2 / span 1;
    }
    & > div:last-of-type {
      margin: 45px 0;
      padding: 28px 50px 28px 40px;
      display: grid;
      place-items: center;
      border-radius: 15px;
      border: $base-border $color-5;
      grid-template-columns: repeat(2, 1fr) 145px repeat(2, 1fr);
      grid-template-rows: repeat(auto-fit, minmax(40px, 1fr));
      row-gap: 10px;
      b {
        grid-column: 1 / span 1;
        font-weight: 600;
        font-size: var(--font-22);
      }
      span {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: var(--font-14);
      }
      p {
        @include p(var(--font-13), 18px);
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
      }
      label {
        padding: 12px 18px;
        background-color: $color-2;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 4 / span 2;
        span {
          user-select: none;
          cursor: pointer;
          &:first-of-type {
            padding-right: 20px;
            border-right: $border-darker;
          }
          &:last-of-type {
            padding-left: 20px;
            border-left: $border-darker;
          }
        }
        input {
          font-size: var(--font-14);
          width: 100%;
          text-align: center;
          -moz-appearance: textfield;
          &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
      button {
        transition: transition($short, background-color), transition($short, color);
        @include button($color-3, $color-1, $color-7, $color-4);
        width: 100%;
        padding: 12px 18px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: 700;
        grid-row: 2 / span 1;
        grid-column: 4 / span 2;
        svg {
          width: 24px;
          height: 18px;
        }
      }
    }
    figure {
      border: $border;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &:first-of-type {
        grid-column: 1 / span 2;
      }
      img {
        transition: transition($long, opacity);
        opacity: 1;
        width: 100%;
        height: auto;
        user-select: none;
        pointer-events: none;
        &:nth-of-type(2) {
          pointer-events: all;
          cursor: pointer;
          position: absolute;
          top: 42.5%;
          left: 42.5%;
          width: 15%;
          height: 15%;
        }
        &.fade-out {
          opacity: 0;
        }
      }
      div {
        position: absolute;
        bottom: 40px;
        right: 40px;
        span {
          @include inter;
          user-select: none;
          transition: transition($short, color);
          cursor: pointer;
          font-size: var(--font-24);
          &:hover {
            color: $color-3;
          }
          &:first-of-type {
            margin-right: 20px;
          }
        }
      }
    }
    h1 {
      @include header($font-size: var(--font-26), $font-weight: 600, $letter-spacing: 0.2em);
    }
    article {
      @include grid;
      overflow-y: hidden;
      margin-bottom: 40px;
      & > div:first-of-type {
        transition: transition($long, height), transition($long, opacity);
        height: 100%;
        opacity: 1;
        overflow: hidden;
      }
      &.collapsed {
        div:first-of-type {
          height: 0;
          opacity: 0;
        }
        span {
          transform: rotate(180deg);
        }
      }
      h2 {
        grid-column: 1 / 1;
        font-weight: 600;
        font-size: var(--font-18);
      }
      span {
        @include inter;
        transition: transition($long, transform);
        place-self: start end;
        margin-right: 30px;
        grid-column: 2 / span 1;
        cursor: pointer;
      }
      & > *:not(h2, span) {
        grid-column: 1 / span 2;
      }
      hr {
        margin: 23px 0 40px 0;
        border: 0;
        border-bottom: $base-border rgba($color-5, 0.3);
      }
      p {
        @include p;
      }
      table {
        font-size: var(--font-15);
        width: 100%;
        tr {
          @include grid;
          padding: 10px 30px;
          &:nth-of-type(odd) {
            background-color: rgba($color-5, 0.05);
          }
        }
        td:last-of-type {
          font-weight: 600;
        }
      }
      ul {
        list-style-type: none;
        li {
          @include p;
          position: relative;
          padding-left: 20px;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 7px;
            height: 7px;
            background-color: $color-3;
            border-radius: 2px;
          }
        }
      }
    }
    a {
      @include button($background: $color-2, $background-hover: $color-3, $color-hover: $color-1);
      transition: transition($short, background-color), transition($short, color);
      margin: 0 auto;
    }
  }
  section:last-of-type {
    @include product;
    position: relative;
    & > span {
      @include inter;
      transition: transition($short, color);
      position: absolute;
      top: 50%;
      font-size: var(--font-24);
      cursor: pointer;
      &:hover {
        color: $color-3;
      }
      &:first-of-type {
        left: -220px;
      }
      &:last-of-type {
        right: -220px;
      }
    }
    article {
      transition: transition($long, transform), transition($medium, box-shadow);
      transform: none;
      &.slide-in {
        transform: translateX(100%);
      }
      &.slide-out {
        transform: translateX(-100%);
      }
    }
    & > div {
      overflow-x: hidden;
      margin-top: 45px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      gap: 25px;
    }
    h3 {
      @include header($font-size: var(--font-35), $letter-spacing: 0.2em);
      text-align: center;
    }
  }
}
@media screen and (max-width: 1280px) {
  main {
    & > div:first-of-type {
      transform: none;
    }
    section:first-of-type {
      & > div:last-of-type {
        grid-template-columns: repeat(2, 1fr) 5% repeat(2, 1fr);
      }
    }
    section:last-of-type {
      div {
        margin: 45px auto 0 auto;
        width: 90%;
      }
      span {
        &:first-of-type {
          left: 0;
        }
        &:last-of-type {
          right: -2%;
        }
      }
    }
  }
}
@media screen and (max-width: 720px) {
  main {
    margin: 70px 10px !important;
    section:first-of-type {
      display: flex;
      flex-direction: column;
      & > div:first-of-type {
        margin-bottom: 10px;
      }
      article {
        grid-template-columns: 1fr 0.35fr;
      }
    }
    section:last-of-type {
      span:first-of-type, span:last-of-type {
        top: 5%;
      }
    }
  }
}
