@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
:root {
  --font-50: 50px;
  --font-35: 35px;
  --font-30: 30px;
  --font-26: 26px;
  --font-24: 24px;
  --font-22: 22px;
  --font-18: 18px;
  --font-17: 17px;
  --font-16: 16px;
  --font-15: 15px;
  --font-14: 14px;
  --font-13: 13px;
  --font-12: 12px;
}

@media screen and (max-width: 720px) {
  :root {
    --font-50: 30px;
    --font-35: 30px;
    --font-30: 28px;
    --font-26: 24px;
    --font-25: 22px;
    --font-24: 20px;
    --font-22: 20px;
    --font-15: 14px;
  }
}
nav {
  width: 100%;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0.6fr 0.7fr 0.4fr;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 15px 7%;
  background-color: #000;
}
nav img {
  transition: 500ms transform cubic-bezier(0.53, 0.1, 0.58, 1);
  place-self: center start;
}
nav img:hover {
  transform: scale(0.96);
}
nav *:not(input, label) {
  cursor: pointer;
  user-select: none;
}
nav a {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav label, nav ul, nav ul a, nav .hamburger {
  display: flex;
  align-items: center;
}
nav label:not(ul), nav ul:not(ul), nav ul a:not(ul), nav .hamburger:not(ul) {
  justify-content: center;
}
nav label {
  grid-column: 4/span 1;
  color: #fff;
}
nav label input::placeholder {
  color: inherit;
  text-transform: lowercase;
}
nav ul {
  place-self: center end;
  width: 60%;
  justify-content: space-evenly;
}
nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav svg {
  width: 30%;
  min-width: 20px;
  height: auto;
  min-height: 20px;
  transition: 300ms color cubic-bezier(0.53, 0.1, 0.58, 1);
  color: #fff;
}
nav svg:hover {
  color: #e31019;
}
nav .hamburger {
  row-gap: 5px;
  flex-direction: column;
  width: 28px;
  height: 20px;
  grid-column: 6/span 1;
}
nav .hamburger:hover span {
  background-color: #e31019;
}
nav .hamburger.active span:first-of-type {
  transform: rotate(45deg) translate(5px, 5px);
}
nav .hamburger.active span:nth-of-type(2) {
  opacity: 0;
}
nav .hamburger.active span:last-of-type {
  transform: rotate(-45deg) translate(5px, -5px);
}
nav .hamburger span {
  transition: 300ms background-color cubic-bezier(0.53, 0.1, 0.58, 1), 300ms transform cubic-bezier(0.53, 0.1, 0.58, 1), 300ms opacity cubic-bezier(0.53, 0.1, 0.58, 1);
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

footer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 0.5fr 1fr 0.05fr 0.5fr 0.05fr 0.1fr;
  position: relative;
  background-image: url("/assets/pictures/noze.webp");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 70px 140px 15px 140px;
}
footer * {
  z-index: 1;
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
footer > img {
  grid-column: 1/span 2;
}
footer h3 {
  font-weight: 600;
}
footer p {
  font-size: var(--font-13);
  line-height: 26px;
}
footer p:first-of-type {
  grid-column: 1/-1;
  place-self: center start;
}
footer p:nth-of-type(2) {
  grid-column: 1/span 2;
  grid-row: 7/span 1;
}
footer p:last-of-type {
  place-self: center end;
  grid-column: 10/span 2;
  grid-row: 7/span 1;
}
footer ul li {
  font-size: var(--font-15);
}
footer ul li a {
  transition: 200ms color cubic-bezier(0.53, 0.1, 0.58, 1);
}
footer ul li a:hover {
  color: #e31019;
}
footer ul:first-of-type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 36px);
  grid-column: 4/span 3;
}
footer ul:nth-of-type(2) {
  place-self: start center;
  grid-column: 7/span 2;
}
footer ul:nth-of-type(2) li {
  margin: 18px 0;
}
footer ul:nth-of-type(2) li:first-of-type {
  margin-top: 0;
}
footer ul:nth-of-type(2) li:last-of-type {
  margin-bottom: 0;
}
footer h3 {
  font-size: var(--font-22);
}
footer h3:first-of-type {
  grid-column: 4/span 1;
}
footer h3:nth-of-type(2) {
  place-self: start center;
  grid-column: 7/span 2;
}
footer h3:last-of-type {
  grid-column: 10/span 2;
}
footer figure {
  grid-column: 10/span 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 45px;
  row-gap: 25px;
}
footer hr {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  grid-column: 1/-1;
}
footer hr:first-of-type {
  grid-row: 3/span 1;
}
footer hr:last-of-type {
  grid-row: 5/span 1;
}

.login {
  z-index: 3;
  position: fixed;
  top: 70px;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0 0 10px 10px;
}
.login label {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.login label b {
  font-weight: 700;
}
.login label b span {
  color: #e31019;
}
.login label input {
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border-radius: 10px;
}
.login a {
  margin-left: 10px;
  color: #e31019;
}
.login a:hover {
  text-decoration: underline;
}
.login button {
  margin: 10px 0;
  width: 100% !important;
  text-transform: none !important;
}
.login button[type=submit] {
  transition: 300ms background-color cubic-bezier(0.53, 0.1, 0.58, 1), 300ms color cubic-bezier(0.53, 0.1, 0.58, 1);
  background-color: #e31019;
  color: #fff;
  font-weight: 400;
  padding: 12px 35px;
  text-transform: lowercase;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  font-size: var(--font-14);
}
.login button[type=submit]:hover {
  background-color: #858585;
  color: #fff;
}
.login button[type=button] {
  transition: 300ms background-color cubic-bezier(0.53, 0.1, 0.58, 1), 300ms color cubic-bezier(0.53, 0.1, 0.58, 1);
  background-color: #fff;
  color: #000;
  font-weight: 400;
  padding: 12px 35px;
  text-transform: lowercase;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  font-size: var(--font-14);
}
.login button[type=button]:hover {
  background-color: #e31019;
  color: #fff;
}

@media screen and (max-width: 1280px) {
  nav ul {
    width: 100%;
  }
  footer {
    padding: 5%;
  }
}
@media screen and (max-width: 720px) {
  nav {
    padding: 10px 3%;
    grid-template-columns: 0.4fr 0.6fr;
  }
  nav > :last-child {
    grid-column: 3/span 1;
  }
  nav label {
    display: none;
  }
  nav img {
    width: 150px;
  }
  nav ul {
    grid-column: 2/span 1;
  }
  nav li {
    width: 18px;
  }
  footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: unset;
  }
  footer > * {
    grid-column: 1/-1 !important;
  }
  footer img {
    place-self: center;
  }
  footer h3 {
    margin-top: 10px;
  }
  footer h3:first-of-type {
    grid-row: 2/span 1;
  }
  footer h3:nth-of-type(2) {
    place-self: start;
    grid-row: 4/span 1;
  }
  footer h3:last-of-type {
    grid-row: 6/span 1;
  }
  footer hr:first-of-type {
    grid-row: 8/span 1;
  }
  footer hr:last-of-type {
    grid-row: 10/span 1;
  }
  footer figure {
    margin: 10px 0;
    grid-row: 7/span 2;
  }
  footer ul {
    margin-bottom: 10px;
  }
  footer ul:first-of-type {
    grid-row: 3/span 1;
    grid-template-rows: repeat(2, 1fr);
  }
  footer ul:nth-of-type(2) {
    place-self: start;
  }
  footer ul:nth-of-type(2) li {
    margin: 5px 0;
  }
  footer ul li {
    margin: 5px 0;
  }
  footer p:nth-last-of-type(2), footer p:last-of-type {
    grid-row: 11/span 1;
    grid-column: 1/span 1;
  }
  footer p:last-of-type {
    grid-column: 2/span 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  will-change: transition;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
}
body.no-scroll {
  overflow: hidden;
}
body > ul {
  transition: 200ms transform cubic-bezier(0.53, 0.1, 0.58, 1);
  position: fixed;
  top: calc(30px + 2.5rem);
  height: 100%;
  width: 400px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  right: 0;
  z-index: 2;
  background-color: #000;
  list-style: none;
  transform: translateX(100%);
}
body > ul.done {
  transform: none;
}
body > ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
body > ul li.active a {
  color: #e31019;
  font-weight: 700;
}
body > ul li:not(.active):hover a {
  color: #e31019;
}
body > ul li a {
  display: block;
  padding: 13px 15px;
  transition: 200ms color cubic-bezier(0.53, 0.1, 0.58, 1);
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}
button:not(input), input:not(input), select:not(input), textarea:not(input) {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ol, ul {
  list-style: none;
}

@media screen and (max-width: 1280px) {
  body main {
    margin: 110px 50px 70px 50px;
  }
  body main > div:first-of-type {
    transform: none;
  }
}
@media screen and (max-width: 720px) {
  figure {
    overflow: hidden;
  }
  body > ul {
    top: calc(26px + 1rem);
    width: 90%;
  }
  main {
    margin-top: 70px !important;
  }
  .search {
    z-index: 3;
    width: 70%;
    position: fixed;
    top: 45%;
    left: 10%;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .search svg {
    color: #e31019;
  }
}
b {
  font-weight: 700;
}

img, canvas {
  user-select: none;
  pointer-events: none;
}

main {
  margin: 110px 360px 70px 360px;
}
main > div:first-of-type {
  transform: translateX(-70px);
  color: #858585;
  font-size: var(--font-12);
  font-weight: 400;
}
main > div:first-of-type a:hover {
  text-decoration: underline;
}
main > div:first-of-type span:first-of-type {
  margin: 0 10px;
}
main > div:first-of-type span:nth-of-type(odd) {
  margin: 0 10px;
}
main > div:first-of-type span:last-of-type {
  color: #000;
}
main > div:nth-of-type(2) {
  margin: 65px 0 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main > div:nth-of-type(2) > span {
  margin-left: 120px;
  width: 25%;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 0.2fr 1fr;
  font-size: var(--font-15);
}
main > div:nth-of-type(2) > span img {
  grid-row: 1/span 2;
  place-self: center;
}
main > div:nth-of-type(2) > span span {
  grid-column: 2/2;
}
main a:hover {
  text-decoration: underline;
}
main h1, main h2 {
  font-size: inherit;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}
main h1 {
  font-size: var(--font-35);
}
main h2 {
  font-size: var(--font-26);
}
main p {
  font-size: var(--font-15);
  line-height: 30px;
  margin-top: 30px;
  text-align: center;
}
main form {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 55px;
}
main form label {
  display: grid;
  grid-template-rows: 0.2fr 1fr;
}
main form label[for=wiadomosc], main form label[for=captcha] {
  grid-column: 1/-1;
}
main form label[for=captcha] {
  grid-template-columns: 0.2fr 1fr;
}
main form label[for=captcha] :nth-last-child(2) {
  grid-column: 1/2;
  grid-row: 2/2;
}
main form label[for=captcha] :last-child {
  grid-column: 2/2;
  grid-row: 2/2;
  width: fit-content;
}
main form label[for=captcha] b {
  grid-column: 1/-1;
}
main form label[for=captcha] span {
  width: 250px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  place-items: center;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
main form label[for=captcha] span img {
  pointer-events: all;
  cursor: pointer;
  padding: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
main form label[for=zgoda] {
  display: flex;
  align-items: center;
  cursor: pointer;
  grid-column: 1/-1;
}
main form label[for=zgoda] input {
  display: none;
}
main form label[for=zgoda] input:checked + span:first-of-type:after {
  display: block;
}
main form label[for=zgoda] > span:first-of-type > span {
  min-width: 20px;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main form label[for=zgoda] > span:first-of-type > span:after {
  content: "";
  display: none;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxNXB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxOCAxNSIgd2lkdGg9IjE4cHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48dGl0bGUvPjxkZXNjLz48ZGVmcy8+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSI+PGcgZmlsbD0iIzAwMDAwMCIgaWQ9IkNvcmUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC00MjMuMDAwMDAwLCAtNDcuMDAwMDAwKSI+PGcgaWQ9ImNoZWNrIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0MjMuMDAwMDAwLCA0Ny41MDAwMDApIj48cGF0aCBkPSJNNiwxMC4yIEwxLjgsNiBMMC40LDcuNCBMNiwxMyBMMTgsMSBMMTYuNiwtMC40IEw2LDEwLjIgWiIgaWQ9IlNoYXBlIi8+PC9nPjwvZz48L2c+PC9zdmc+");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 10px;
  border-radius: 3px;
}
main form label[for=zgoda] > span:last-of-type {
  margin-left: 20px;
}
main form label b {
  margin-bottom: 10px;
}
main form label input, main form label textarea {
  cursor: text;
  padding: 12px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
main form label input:not(input), main form label textarea:not(input) {
  resize: none;
}
main form button {
  transition: 300ms background-color cubic-bezier(0.53, 0.1, 0.58, 1), 300ms color cubic-bezier(0.53, 0.1, 0.58, 1);
  background-color: #000;
  color: #fff;
  font-weight: 400;
  padding: 12px 35px;
  text-transform: lowercase;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  font-size: var(--font-14);
  grid-column: 1/-1;
  margin: 0 auto;
}
main form button:hover {
  background-color: #e31019;
  color: #fff;
}

@media screen and (max-width: 1280px) {
  main > div:nth-of-type(2) {
    flex-direction: column;
  }
  main > div:nth-of-type(2) > img {
    width: 100%;
  }
  main > div:nth-of-type(2) span {
    margin: 10px 0;
    width: 100%;
  }
  main > div:nth-of-type(2) span img {
    width: 100%;
    height: auto;
  }
  main form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  main form input, main form textarea {
    width: 100%;
  }
  main form label[for=captcha] {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  main form label[for=captcha] input {
    width: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
