@import "../assets/styles/global";
@import "../assets/styles/inter.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

main {
  @include main(160px);
  @include navigation;
  @include scroller;
  & > div:first-of-type {
    transform: none;
  }
  & > div:nth-of-type(2) {
    display: grid;
    grid-template-columns: 0.35fr 1fr;
    column-gap: 80px;
  }
  & > div:last-of-type {
    transform: translateX(12.5vw);
  }
  & > button {
    @include button($color-5, $color-1, $color-3, $color-1);
    margin: 10px auto;
    display: none;
  }
  h1, h2 {
    @include header($letter-spacing: 0.2em);
    user-select: none;
  }
  h1 {
    text-align: center;
    font-size: var(--font-30);
    margin-bottom: 45px;
  }
  h2 {
    margin: 15px 0 40px 0;
    font-size: var(--font-24);
    &:not(:first-of-type) {
      margin: 60px 0 10px 0;
      padding-bottom: 20px;
      border-bottom: $border-darker;
    }
  }
  .sidebar {
    ul {
      li {
        padding: 12px 0;
        border-top: $border;
        &:last-of-type {
          border-bottom: $border;
        }
        &.active {
          color: $color-3;
        }
      }
      a {
        transition: transition($short, color);
        font-size: var(--font-17);
        letter-spacing: 0.2em;
        &:hover {
          color: $color-3;
        }
        span {
          font-family: 'Noto Sans JP','Poppins', sans-serif;
        }
      }
    }
    label:not(.price) {
      @include header($font-size: var(--font-16), $letter-spacing: 0.2em);
      margin: 0 20px 18px 0;
      transition: transition($short, color);
      display: flex;
      user-select: none;
      align-items: center;
      cursor: pointer;
      &:hover {
        color: $color-3;
      }
      input {
        display: none;
        &:checked + span {
          background-position: center;
        }
      }
      span {
        overflow: hidden;
        transition: transition($short, background-position);
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIj48cGF0aCBkPSJtNDYxLjYgMTA5LjYtNTQuOS00My4zYy0xLjctMS40LTMuOC0yLjQtNi4yLTIuNC0yLjQgMC00LjYgMS02LjMgMi41TDE5NC41IDMyM3MtNzguNS03NS41LTgwLjctNzcuN2MtMi4yLTIuMi01LjEtNS45LTkuNS01LjlzLTYuNCAzLjEtOC43IDUuNGMtMS43IDEuOC0yOS43IDMxLjItNDMuNSA0NS44LS44LjktMS4zIDEuNC0yIDIuMS0xLjIgMS43LTIgMy42LTIgNS43IDAgMi4yLjggNCAyIDUuN2wyLjggMi42czEzOS4zIDEzMy44IDE0MS42IDEzNi4xYzIuMyAyLjMgNS4xIDUuMiA5LjIgNS4yIDQgMCA3LjMtNC4zIDkuMi02LjJsMjQ5LjEtMzIwYzEuMi0xLjcgMi0zLjYgMi01LjggMC0yLjUtMS00LjYtMi40LTYuNHoiIGZpbGw9IiNlMzEwMTkiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
        border: $border-darker;
        background-repeat: no-repeat;
        background-position: 0 -500%;
        background-size: 10px;
        width: 14px;
        height: 14px;
        margin-right: 20px;
      }
    }
    .price {
      display: block;
      width: 90%;
      margin: 20px auto 0 auto;
      input {
        transition: transition($short, border-color);
        border: $border-darker;
        text-align: center;
        width: 100px;
        height: 50px;
        -moz-appearance: textfield;
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &:focus {
          border-color: $color-3;
        }
      }
      span {
        margin: 0 20px 0 10px;
      }
    }
    button {
      @include button($color-5, $color-1, $color-3, $color-1);
      width: 70%;
      margin: 30px auto 0 auto;
      display: block;
    }
  }
  .products {
    transition: transition($long, margin-left), transition($long, height);
    & > div:first-of-type {
      position: relative;
      height: 300px;
      &::before {
        @include shadow(rgba($color-5, 0.2));
      }
      img {
        width: 100%;
        height: auto;
        max-height: 250px;
      }
    }
    & > div:nth-of-type(2) {
      display: grid;
      font-weight: 400;
      column-gap: 100px;
      grid-template-columns: 1fr 0.4fr;
      p {
        @include p;
      }
      label {
        place-self: center end;
        select {
          margin-left: 10px;
          @include button($background: $color-2);
          padding: 12px 20px;
        }
      }
    }
  }
  .product-list {
    @include product;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin-top: 45px;
  }
}
@media screen and (max-width: 1280px) {
  main {
    .sidebar .price {
      width: 120%;
    }
  }
}
@media screen and (max-width: 720px) {
  main {
    &.sidebar-open {
      .sidebar {
        grid-column: 1 / -1;
        width: 100%;
        font-size: var(--font-16);
        overflow: auto;
      }
      .products {
        height: 0;
        margin-left: 100%;
        overflow: hidden;
      }
    }
    & > button {
      display: block;
    }
    & > div:nth-of-type(2) {
      gap: 0;
    }
    .sidebar {
      width: 0;
      font-size: 0;
      overflow: hidden;
    }
    .products {
      width: 90%;
      & > div:first-of-type {
        height: 2%;
      }
      & > div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
