@import "../assets/styles/global";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
main {
  @include main(auto);
  width: calc(100% - 280px);
  @include navigation;
  h1 {
    @include header($font-size: var(--font-35), $letter-spacing: 0.2em);
    text-align: center;
  }
  p, li {
    @include p(var(--font-16));
  }
  h2 {
    font-family: 'Montserrat','Poppins', sans-serif;
    font-weight: 700;
    margin: 45px 0 40px 0;
  }
  ol {
    list-style-type: decimal;
    li {
      margin-left: 32px;
    }
    &:first-child {
      list-style-type: none;
      li {
        counter-increment: list-counter;
        &::before {
          content: counter(list-counter, lower-alpha) ")";
          margin-right: 8px;
        }
      }
    }
    &:nth-child(2) > li {
      position: relative;
      &:before {
        content: '2.';
        position: absolute;
        left: -30px;
      }
    }
  }
}
@media screen and (max-width: 720px) {
  main {
    margin: 70px auto !important;
    width: 90%;
  }
}
