@import '../assets/styles/global';
@import "../assets/styles/inter.css";
main {
  @include navigation;
  @include main(110px, 250px);
  @include figure-date;
  @include scroller;
  h1 {
    user-select: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 0.2em;
    margin-bottom: 40px;
  }
  article {
    display: grid;
    place-items: center start;
    grid-template-rows: 0.5fr 1fr 0.3fr;
    h2 {
      font-size: 22px;
      font-weight: 600;
    }
    p {
      place-self: start;
      @include p;
    }
  }
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 155px;
    row-gap: 85px;
  }
  a:not(main > div > a) {
    @include button;
    background-color: $color-2;
    transition: transition($short, background-color), transition($short, color);
    &:hover {
      background-color: $color-3;
      color: $color-1;
    }
  }
}
