@import '../assets/styles/global';
@import "../assets/styles/inter.css";
main {
  @include navigation;
  @include main(250px);
  @include figure-date;
  @include scroller;
  h1 {
    @include header($font-size: var(--font-35), $letter-spacing: 0.2em);
    user-select: none;
    text-align: center;
    margin-bottom: 40px;
  }
  article {
    display: grid;
    place-items: center start;
    grid-template-rows: 0.5fr 1fr 0.3fr;
    h2 {
      @include header($font-size: 22px, $font-weight: 600, $text-transform: none);
    }
    p {
      @include p;
      place-self: start;
    }
  }
  section {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    column-gap: 155px;
    row-gap: 85px;
    img {
      width: 100%;
      height: auto;
    }
  }
  a:not(main > div > a) {
    @include button($color-2, $color-5, $color-3, $color-1);
  }
}
@media screen and (max-width: 720px) {
  main section {
    display: flex;
    flex-direction: column;
    figure {
      padding: 5px 0;
      &:has(+ article) {
        border-top: $border;
      }
      & + article {
        border-bottom: $border;
      }
    }
    article {
      padding: 5px 0;
      a {
        margin: 0 auto;
      }
    }
  }
}
